<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-12">
          <hacksquad-reveal-card></hacksquad-reveal-card>
      </div>
    </div>
    <hacksquad-earning-card></hacksquad-earning-card>

  </div>

  <div class="col-xxl-7">
    <hacksquad-classification-charts></hacksquad-classification-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
      <nb-card style="height:600px">
          <nb-card-header>State wise Accidents Due to Alcohol Consuption (VS) Exceeding Lawful Speed Limit</nb-card-header>
          <nb-card-body>
            <hacksquad-chartjs-bar></hacksquad-chartjs-bar>
          </nb-card-body>
        </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-xxl-9">
      <div><b>Classified According to Cause of Accidents in  2012</b></div>
    <hacksquad-progress-section></hacksquad-progress-section>
  </div>
</div>
